*,
*::after,
*::before {
    box-sizing: border-box;
    border: 0 solid transparent;
    scroll-behavior: smooth;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    overflow-x: hidden;
    height: 100%;

    --old-web-page-clr: #7a79c5;
}



body {
    min-height: 100%;

    // flex-direction: column;
    font-size: 62.5%;

    font-family: var(--font-f) !important;
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;


    background-color: #fff;
   



}

html[lang=ja] body {
    font-family: Meiryo, Hiragino Sans, sans-serif;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

code,
pre {
    font-family: Source Code Pro, Consolas, Menlo, monospace;
}

@font-face {
    font-family: Sf pro;
    src: url('./sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
    font-family: Sf eight;
    src: url('./sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF');
}

:root {

    // --logo-clr:#32325d;
    --logo-clr: #0a183d;
    --font-clr: #6772e5;

    --bg-clr: #1d1d1f;
    --lite-gray: #6e6e73;
    --bg-lite: #e3e8f0;
    // --box-sh: 2px 4px 12px #00000014;
    --box-sh: 4px 4px 12px #00000054;


    --font-f: "Sf pro", sans-serif;
    --font-f-bold: "Sf eight", sans-serif;


}

html {
    scrollbar-width: normal;
    scrollbar-color: var(--font-clr) var(--bg-lite);
}

html::-webkit-scrollbar {
    width: 4vw;
}

