// .swiper {

//     margin-top: 0.8rem;
//     width: 100%;
//     height: 90vh;
//     background-attachment: fixed;
// }

// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }



// .swiper-slide span {
//     position: absolute;
// }


.Company_video {
    width: 90vw;
    margin: auto;
    height: 80vh !important;
    margin-top: 1.3rem;
    position: relative;
    overflow: hidden !important;
    border-radius: 18px;
    // box-shadow: 2px 4px 12px #00000014;
    -webkit-box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.45);
    box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.45);
    z-index: -1;


}

.Company_video video {

    object-fit: cover;
    width: 100%;
    height: inherit;
}

@media (max-aspec-ratio:16/9) {
    .Company_video video {
        // object-fit: cover;
        width: auto;
        height: inherit;
    }

}

@media screen and (max-width:700px) {

    .Company_video {
        height: 50vh !important;
    }

    .globalNav .popupContainer {
        height: 75vh;
    }

}