.records {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./images/DJI_0977.JPG);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    // margin-top: 5rem;
    // margin-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}


.wrapper {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    font-size: 16px;

}

.card i {
    // color: var(--font-clr);
    color: var(--bg-lite);
    font-size: 4em;
    text-align: center;

}

span.num {
    // color: #ffffff;
    color: var(--bg-lite);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 4em;
    letter-spacing: 3px;
}

span.text {
    color: #e0e0e0;
    font-size: 1.3em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
    font-family: var(--font-f);
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 85vw;
    }

    .card {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card {
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        gap: 15px;
    }

    .card {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}